@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

:root{
  --bg-gray:#F2F2F2
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  display: flex;
    flex-direction: column;
    align-items: center;
}

a {
  display: inline-block;
  color: lightgrey;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  padding: 12px;
  border: 1px solid white;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}

a:hover {
  background: rgba(0, 0, 0, 0.23);
  color: white;
  transform: scale(1.03);
  text-decoration: none;
}
a:active {
  transform: scale(0.98);
}

.container{
  width: 90vw;
  padding-top: 100px;
}
header{
  color: #000;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}
.category-header{
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;

}
.category-name{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  padding: 10px 0;
  flex-grow: 1;
  background-color: var(--bg-gray);
  border: none;
  font-weight: 600;
}
.selected{
  background: #000;
  color: white;
}

.category-name img{
  width: 18px;
  height: 18px;
  margin-right: 7px;

  background:none;
  visibility: hidden;
}
.category-name span{
  font-size: 16px;
}

.category-products{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
}
.category-product{
  width: 225px
}
.product-img{
  position: relative;
  height: 300px;
  overflow: hidden;
}
.category-product img{
  width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-img > div{
  position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 1px;
    background: #FFF;
    padding: 7px 14px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    font-style: normal;
    font-weight: 600;
    width: 35%;
}
.product-details-name{
 padding-top: 5px;
 display: flex;
 align-items:center;
}
.product-details-name div{
    width: 5px;
    height: 5px;
    background: black;
    border-radius: 50%;
    margin: 0 8px;
}
.product-title{
font-weight: 600;
font-size: 16px;
}

.product-vendor{
font-weight: 400;
font-size:15px ;
}
.product-details-price{
  display: inline-flex;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 5px;
  margin-top: 3px;
}
.product-price{
  color: #000;
font-family: Khula;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.compare-price{
  color: #8F8F8F;
font-family: Khula;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration: line-through;
text-decoration-color: #8f8f8f; 
  text-decoration-thickness: 1px;
}

.product-details-price span:last-child{
  color: #FF3737;
  font-family: Khula;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.add-btn{
  width: 100%;
  background-color: #000;
  color: #FFF;
  font-size: 15px;
  margin-bottom: 20px;
  padding: 5px 0;
  border: none;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .category-products{
    display: flex;
    flex-wrap: wrap;
  }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .category-products{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
}

@media screen and (min-width: 1025px) {

}

